<link type='text/css' rel='stylesheet' href='/stylesheets/style.css'>
<header id='title'>
 <!-- This is a navbar I just copy pasted from bootstrap -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">

      </button>
      <a class="navbar-brand" href="#">TinyApp</a>
    </div>

    <!-- This is another place you can add a new URL -->
    <form class="navbar-form navbar-left" action="/urls" method="POST">
      <div class="form-group">
        <label for="longURL"></label>
        <input type="text" name="longURL" class="form-control" placeholder="Add a new url:">
      </div>
    </form>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <% if (username !== undefined) { %>
          <li class="dropdown">

          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Hello, <%= username.email %><span class="caret"></span></a>
          <ul class="dropdown-menu">

          <!-- THIS IS THE LOGOUT UBTTON -->

            <form class="navbar-form navbar-left" action="/logout" method='POST'>
              <div class="form-group">
                <input value='Logout' type='submit'>
            </form>
        <% } else { %>
        <li class="dropdown">


          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Login<span class="caret"></span></a>
          <ul class="dropdown-menu">

        <!-- This is where you can log into your account!!!!!!!!! -->

            <form class="navbar-form navbar-left" action="/login" method='POST'>
              <div class="form-group">
              <!-- email -->
                <input type="text" class="form-control" placeholder="username" name='email'>

              </div>
              <!-- password -->
                <input type="password" class="form-control" placeholder="password" name='password'>

              <input value="Login" type="submit" name="Submit">
            </form>
            <!-- Register Button -->
            <a href="/register"><button>Register</button></a>
          <% } %>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</header>