<!DOCTYPE html>
<html>
<head>
  <title>TinyApp</title>

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <!-- CSS for Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link type='text/css' rel='stylesheet' href='/stylesheets/style.css'>
  <link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet">
<nav class="navbar navbar-default" style='background-color: #272822; border-color: #272822'>
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button style='background-color: #272822; border-width: 0'>
        <a class="navbar-brand" href="http://localhost:8080/urls/">Archive</a>
      </button>
    </div>

    </form>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <!-- This is where you can log into your account -->
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Log In <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <form class="navbar-form navbar-left">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="username">
              </div>
                <input type="text" class="form-control" placeholder="password">
            </form>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</head>
<body>
  <div class='container' id="customColors">
    <%- include('partials/_header') %>
    <div align='center' style="padding-top: 10%">
      <form action="/urls" method="POST">
        <label for="longURL"></label>
        <input id="longURL" type="text" name="longURL" placeholder="http://">
      </form>
    </div>
  </div>

  <!-- jQuery -->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

  <!-- Bootstrap JS -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>