<!DOCTYPE html>
<html>
<head>
  <title>TinyApp</title>

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <!-- CSS for Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link type='text/css' rel='stylesheet' href='/stylesheets/style.css'>
  <link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet">
  <link type='text/css' rel='stylesheet' href='/stylesheets/style.css'>


</head>
<body style='background-color: #272822'>
  <div class='container' id="customColors">
    <%- include('partials/_header') %>
    <h1>Tiny<a style='color: #A6E22E'>URL</a></h1>
    <h3 style='color:#FD971F'>Make Your URL's Slightly Shorter!</h3>
    <div align='center' style="padding-top: 10%">
      <form action="/urls" method="POST">
        <label for="longURL"></label>
        <input id="longURL" type="text" name="longURL" placeholder="http://">
      </form>
    </div>
  </div>

  <!-- jQuery -->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

  <!-- Bootstrap JS -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>